ActionBar {
    background-color: #212121;
    color: white;
    vertical-align: center;
    text-align: center;
}

button {
    font-size: 15;
    text-align: center;
}

.drawerContentText {
    font-size: 13;
    padding: 10;
}

.drawerContentButton {
    margin: 10;
    float: left;
}

.sideStackLayout {
    background-color: #2F2F2F;
}

.sideTitleStackLayout {
    height: 56;
    text-align: center;
    vertical-align: center;
    float: left;
    color: white;
    font-size: 20;
}

.sideLabel {
    color: #848484;
    padding: 10;
}

.sideLabel:hover {
    background-color: #222222;
    color: goldenrod;
}