ActionBar {
    background-color: #3C5AFD;
    color: white;
    vertical-align: center;
    text-align: center;
}

ActionItem,
NavigationButton {
    color: blue;
    background-color: blue;
}

Image {
    height: 200;
    vertical-align: top;
}

Button {
    float: left;
    width: 100;
}

.date {
    float: right;
}