<ActionBar title="" class="action-bar">
    <NavigationButton text="Go Back" (tap)="goBack()" android.systemIcon="ic_menu_back" tap="onNavBtnTap"></NavigationButton>
    <ActionItem text="Bookmark" (tap)="bookmark()" android.systemIcon="ic_menu_set_as" ios.systemIcon="11" ios.position="right" float="right"></ActionItem>
    <ActionItem text="Share" (tap)="share()" android.systemIcon="ic_menu_share_holo_dark" ios.systemIcon="9" ios.position="right" float="right"></ActionItem>
</ActionBar>

<ScrollView>
    <StackLayout>
        <Image src="http://www.fillmurray.com/300/300" stretch="aspectFill"></Image>
        <StackLayout>
            <!--Category button and date-->
            <GridLayout columns="auto,*,auto" rows="auto,auto" padding="10">
                <Button text="Category" col="0" row="0" class="categoryButton"></Button>
                <Label [text]='curDate' class="date" col="2" row="0" paddingTop="10"></Label>
                <StackLayout class="hr-dark" row="1"></StackLayout>
            </GridLayout>
            <!--Title and body of post-->
            <StackLayout paddingLeft="14">
                <Label [text]="post.title" class="h1" textWrap="true" paddingBottom="10"></Label>
                <Label [text]="post.body" class="body" textWrap="true"></Label>
            </StackLayout>
        </StackLayout>

        <comment-section></comment-section>

    </StackLayout>

</ScrollView>