ActionBar {
    background-color: black;
    color: white;
    vertical-align: center;
    text-align: center;
}

ActionItem,
NavigationButton {
    color: white;
    background-color: white;
}

.thumb {
    height: 80;
    width: 80;
    vertical-align: top;
    margin-top: 8;
    margin-bottom: 8;
    margin-left: 8;
    margin-right: 8;
}

Button {
    color: white;
    background-color: #196EFF;
    height: 40;
}

.categoryButton {
    float: left;
    width: 100;
}

.commentButton {
    width: 125;
}

.date {
    float: right;
    text-align: center;
}

.h1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: black;
}

.body {
    color: black;
}

.deleteButton {
    height: 20;
    width: 20;
    background-color: black;
    float: right;
    margin-bottom: 8;
}