ActionBar {
    background-color: #212121;
    color: white;
    vertical-align: center;
    text-align: center;
}

ActionItem,
NavigationButton {
    color: white;
    background-color: white;
}

Button {
    color: white;
    background-color: #196EFF;
    height: 40;
    float: left;
    width: 100;
}

.date {
    float: right;
    text-align: center;
}

.h1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: black;
}

.body {
    color: black;
}